a {
  text-decoration: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

.bg-custom {
  background-color: #f4f4f5;
}

.authentication-wrapper.authentication-cover
  .authentication-inner
  .auth-cover-bg {
  background-color: #f3f4f7;
}

.main-loader {
  position: fixed;
  inset: 0;
  background-color: #ffffffe2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  padding-left: 0;
  margin: 20% auto;
}

::-webkit-scrollbar {
  display: none;
}

.text-lg {
  font-size: 24px;
}

.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

/* Create employee page */
.image-remove-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99 !important;
  opacity: 0.3;
  transition: all ease-out 0.3s;
}

.document-preview-img {
  background-color: #dedede;
  padding: 20px;
  padding-top: 50px;
  margin-top: 50px;
}

.avartar-preview-img:hover .image-remove-icon,
.document-preview-img:hover .image-remove-icon {
  opacity: 1;
  transition: all ease-in 0.3s;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.pdf-div {
  background-color: #dedede;
  overflow-y: scroll;
  height: 30vh !important;
  object-fit: cover;
  border: 5px solid #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-navbar.navbar-detached.container-xxl {
  max-width: calc(1440px - 1.5rem*2);
  position: sticky !important;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  margin-top: 20px;
}

aside#layout-menu {
  position: sticky !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  max-height: calc(100vh) !important;
}

.added-by:hover {
  text-decoration: underline;
  color: rebeccapurple !important;
}